header{
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
header h1 {
    margin: 0;
    font-size: 4rem;
    color: #014a94;
}
header p {
    font-weight: 500;
    color: #014a94;
    font-size: 1.75rem;
    margin-bottom: 50px;
    margin-top: 5px;
}
/* header a {
    box-shadow: 0 5px 5px 0 black;
    font-weight: 700;
    background-color: #6886c5;
    border-color: #ffacb7;
    color: #f9f9f9;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
    margin-bottom: 100px;
} */
